body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;  /* Chrome, Safari and Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
    user-select: none;          /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #007bff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.selection-box {
    position: fixed;
    border: 1px solid #007bff;
    background-color: rgba(0, 123, 255, 0.1);
    z-index: 1000;
    pointer-events: none;
}
.dragover {
    border: 2px dashed #007bff;
}
.folder-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.folder-icon {
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

.folder-icon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/icons/folder.png');
    background-size: cover;
}

.folder-icon input[type="checkbox"] {
    position: absolute;
    top: 0;
    right: 0;
}
.folder-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 10px;
    cursor: pointer;
}