<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Image Uploader</h1>
    </div>
    <div class="content" id="content">
        <h2>Existing Folders</h2>
        <form action="/create_videos" method="post" id="createVideosForm">
            {% for folder in folders %}
                <div class="folder-container">
                    <div class="folder-icon">
                        <input type="checkbox" name="folders[]" value="{{ folder }}">
                    </div>
                    <label>{{ folder }}</label>
                </div>
            {% endfor %}
            <button type="submit" class="button">Create Videos</button>
        </form>
        <form action="/delete_folders" method="post" id="deleteFoldersForm">
            {% for folder in folders %}
                <div class="folder-container">
                    <div class="folder-icon">
                        <input type="checkbox" name="folders[]" value="{{ folder }}">
                    </div>
                    <label>{{ folder }}</label>
                </div>
            {% endfor %}
            <button type="submit" class="button">Delete Selected Folders</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>