<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="contextMenu" class="context-menu">
        <ul>
            <li id="deleteOption">Delete Folder(s)</li>
            <li id="renderOption">Create Rendering</li>
        </ul>
    </div>
    <div class="header">
        <h1>Image Uploader</h1>
    </div>
    <div class="content" id="content">
        <h2>Existing Folders</h2>
        <div class="folder-grid">
            {% for folder in folders %}
                <div class="folder-container">
                    <div class="folder-icon">
                        <input type="checkbox" name="folders[]" value="{{ folder }}">
                    </div>
                    <a href="/view/{{ folder }}"><label>{{ folder }}</label></a>
                </div>
            {% endfor %}
        </div>
        <button id="deleteButton" class="button">Delete Selected Folders</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>