nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff69b4;
    color:  #282828;
    padding: 20px;
    font-size: 1.5em;
    margin-bottom: 1vh;
}
#clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
body {
    font-family: Arial, sans-serif;
    background-color: #282828;
    padding: 0;
}

#clients div {
    background-color: #ffc0cb;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

button {
    background-color: #ff69b4;
    color:  #282828;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
img{
    mix-blend-mode: multiply;
}